body {
  background-color: lightgray;
  border-inline-color: black;
}

a {
  border-bottom: 1px solid rgb(75, 75, 231);
}
.Box-part {
  background-color: white;

  border-style: solid;
  border-color: black;
  margin: 20px 0px;
  padding: 20px 10px;
}
.text {
  margin: 20px 0px;
}
.box {
  padding: 60px 0px;
}
